hgroup{
    text-align: justify;
    text-indent: 50px;
}

ol{
    text-decoration-line: underline;
}
li{
    text-indent: 25px;
}

p{
    text-align: justify;
    text-indent: 50px;
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

nav#Menu{
    display: block;
}

nav#Menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 400px;
}

nav#Menu li{
    display: inline-block;
    background-color: rgb(187, 186, 186);
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s;
}

nav#Menu h1{
    display: none;
}

nav#Menu li:hover{
    background-color: rgb(158, 158, 158);
}

nav#Menu a{
    color: black;
    text-decoration: none;
}

figure{
    border: 8px solid white;
    box-shadow: 1px 1px 2px black;
    text-align: center;
}

figure img#icone{
    width: 25%;
    height: 25%;
}

div#interface{
    width: 900px;
    margin: -20px;
    padding: 10px 10px 10px 10px;
}

header#cabecalho img#icone{
    position: absolute;
    left: 910px;
    top: 50px;
}

header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 160px;
}

header#cabecalho h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

header#cabecalho h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

section#corpo{
    display: block;
    width: 800px;
    float: left;
}

footer#rodape{
    clear: both;
}

footer#rodape p{
    text-align: end;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
}

.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-kusv{
    background-color:#fffe65;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}

.tg .tg-zlqz{
    background-color:#c0c0c0;
    border-color:inherit;
    font-weight:bold;
    text-align:center;
    vertical-align:top
}

.tg .tg-smvl{
    background-color:#fd6864;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}

table#tg{
    border: 1px solid white;
    border-spacing: 0px;
    margin: auto;
}